openapi: 3.0.4
x-stoplight:
  id: yqn1eyowen6qv
info:
  title: eBike Model API
  description: |
    This API provides master data of bike models. Bike models do not always have the same identifiers, depending on the source of the data. Therefore available identifier(s) are provided as query parameter(s). The only exception is an internally unique UUIDv4 generated by Bosch eBike.
  version: 1.0.0
  contact:
    email: cloud-api.support@de.bosch.com
    name: Bosch eBike Systems Support
servers:
  - description: Production
    url: 'https://api.bosch-ebike.com/bike-model/v1'
security:
  - Client_PROD: []
tags:
  - name: Bike Model
    description: Endpoints providing details for per bike model
paths:
  /bike-models:
    get:
      summary: Get a list of bike models
      description: |
        Retrieve a list of bike models filtered by query parameter(s).
        If multiple filter parameters are provided, the filters are logically combined via `AND`.
        Filters can use a `*` at the beginning and/or end of the string for wildcard searches.
      parameters:
        - schema:
            type: string
            maxLength: 255
          in: query
          name: brand
          description: |
            Set this parameter to filter bike models based on brand name.
        - schema:
            type: string
            minLength: 8
            maxLength: 14
          in: query
          name: gtin
          description: |
            Set this parameter to filter bike models based on specific 
            GTIN (global trade item number).
        - schema:
            $ref: '#/components/schemas/Limit'
          in: query
          name: limit
          description: |
            Limits the number of returned bike models.
            If you set this parameter, the JSON response object will contain
            a `nextCursor` property which can be used to retrieve the next page of results.
            Default is 100. Maximum is 100.
        - schema:
            type: string
          in: query
          name: cursor
          description: Cursor used for pagination.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - pagination
                  - bikeModels
                  - links
                properties:
                  pagination:
                    type: object
                    description: Object containing all meta data relevant for cursor based pagination.
                    additionalProperties: false
                    required:
                      - limit
                    properties:
                      limit:
                        $ref: '#/components/schemas/Limit'
                      nextCursor:
                        type: string
                        description: Cursor which can be used by the client application in the `cursor` query parameter so the API can calculate the next page.
                        maxLength: 256
                        example: WyI0MiJd
                        readOnly: true
                  bikeModels:
                    description: List of all bike models found based on the optionally provided query parameters.
                    type: array
                    items:
                      $ref: '#/components/schemas/BikeModel'
                  links:
                    type: object
                    description: 'To support hypermedia controls, a set of links are provided.'
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: uri
                        example: 'https://api.bosch-ebike.com/bike-model/v1/bike-models?cursor=WyIwIl0='
                        description: This link points to the current returned page.
                        readOnly: true
                      next:
                        type: string
                        format: uri
                        example: 'https://api.bosch-ebike.com/bike-model/v1/bike-models?cursor=WyI0MiJd'
                        description: This link points to the next page.
                        readOnly: true
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AuthorizationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/InternalServerError'
      operationId: getBikeModels
      tags:
        - Bike Model
      x-stoplight:
        id: kkvjgaymfhrmx
    x-status: draft
  '/bike-models/{id}':
    x-status: draft
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: |
          Unique ID of a bike model.
    get:
      summary: Get a bike model
      description: Retrieve a specific bike model by it's ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BikeModel'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AuthorizationError'
        '404':
          $ref: '#/components/responses/BikeModelNotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/InternalServerError'
      operationId: getBikeModel
      tags:
        - Bike Model
      x-stoplight:
        id: 2oqv0u5r57dum
components:
  securitySchemes:
    Client_PROD:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://p9.authz.bosch.com/auth/realms/obc/protocol/openid-connect/token'
          refreshUrl: 'https://p9.authz.bosch.com/auth/realms/obc/protocol/openid-connect/token'
          scopes: {}
      description: Bosch Identity & Access Management
  responses:
    BikeModelNotFoundError:
      description: |
        Whenever the bike model is not found, the api returns a detailed error:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problem-1.0.0'
          examples:
            Bike model not found:
              value:
                requestId: 26e75ba6-9793-411a-9310-54af39672cf8
                type: /problems/bike-model-not-found
                detail: Bike model 00000000-0000-4000-9000-EBFC5DD7E987 not found
    ValidationError:
      description: The provided request is not valid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problem-1.0.0'
          examples:
            Validation Error:
              value:
                requestId: 26e75ba6-9793-411a-9310-54af39672cf8
                type: /problems/validation-error
                detail: request does not contain valid data
    AuthorizationError:
      description: The provided context is not allowed
      content:
        text/plain:
          schema:
            type: string
          examples:
            Access token missing:
              value: 'RBAC: access denied'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problem-1.0.0'
          examples:
            Authorization Error:
              value:
                requestId: 26e75ba6-9793-411a-9310-54af39672cf8
                type: /problems/authorization-error
                detail: request does not contain eBikeRiderId
    Unauthorized:
      description: Whenever there was an authorization error e.g. no userId provided this response is returned.
      content:
        text/plain:
          schema:
            type: string
          examples:
            access-token-expired:
              value: JWT is expired
            access-token-validation-failed:
              value: JWT verification failed
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problem-1.0.0'
    InternalServerError:
      description: Whenever there is a unspecific error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problem-1.0.0'
  schemas:
    Limit:
      type: integer
      description: Limit of returned items.
      maximum: 100
      minimum: 1
      default: 100
      format: int32
      x-stoplight:
        id: w0lkoxn7b0a01
    BikeModel:
      title: BikeModel
      type: object
      readOnly: true
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique UUID of a Bike Model.
        gtin:
          type: string
          description: Global Trade Item Number of the bike model.
          minLength: 8
          maxLength: 14
          example: '4054289420783'
        brand:
          type: string
          description: The brand name of the bike model.
          example: My Brand
          maxLength: 255
        isConnectModuleReady:
          type: boolean
          description: 'Indicates, if the Bosch ConnectModule can be mounted on the bike model.'
        isConnectModuleInstalled:
          type: boolean
          description: 'Indicates, if the Bosch ConnectModule is usually mounted on the bike model.'
      x-stoplight:
        id: vtzagja0m4cgu
    problem-1.0.0:
      type: object
      title: Problem
      required:
        - type
        - detail
        - requestId
      properties:
        type:
          type: string
          format: uri-reference
          description: |
            A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          default: 'about:blank'
          example: /problems/connection-error
        title:
          type: string
          description: |
            A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          maximum: 599
          example: 503
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: Connection to database timed out
        instance:
          type: string
          example: /problems/connection-error#token-info-read-timed-out
          format: uri-reference
          description: |
            A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
        requestId:
          type: string
          description: ID for this request.
          example: 075be661d3a4460b98dee5d66849dd5e
      x-stoplight:
        id: dm8vq6r1fucms
