openapi: 3.0.0
x-stoplight:
  id: us2tx1uaio7g0
info:
  title: Notification API
  version: 1.2.0
  contact:
    email: cloud-api.support@de.bosch.com
    name: Bosch eBike Systems Support
  description: 'The Notification API enables you to subscribe to multiple events at once, for which you have configuration permissions. Cloud API uses webhooks to push notifications to your registered webhook listener. Should the consuming service be unavailable, sending of notifications will be retried but ultimately discarded after one month.'
servers:
  - description: Production
    url: 'https://api.bosch-ebike.com/notification/v1'
security:
  - Client: []
tags:
  - name: ConnectModule Notifications
paths:
  /webhooks:
    post:
      summary: Create a webhook
      operationId: post-webhooks
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: URI for the newly created webhook.
              required: true
            X-Bosch-Cert-Url:
              schema:
                type: string
              description: The X509 public key certificate. Download the certificate from this URL and use it to verify the signature of sent messages.
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/default'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      description: Creates a webhook. Each event type can be only subscribed once.
      callbacks:
        Event notifications:
          '{$request.body#/url}':
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/WebhookTest'
                        - $ref: '#/components/schemas/BikeProfile'
                        - $ref: '#/components/schemas/BikeStatus'
                        - $ref: '#/components/schemas/LocationTracking'
                        - $ref: '#/components/schemas/BikeTraceabilityStatus'
              responses:
                '200':
                  description: |
                    Your server implementation should return HTTP status code `200`
                    if the data was received successfully.
      security:
        - Client: []
      tags:
        - ConnectModule Notifications
      x-stoplight:
        id: vlndtismqrvf8
    get:
      summary: List all webhooks
      operationId: get-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                required:
                  - webhooks
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/default'
      description: Get all webhooks belonging to the authenticated client.
      security:
        - Client: []
      tags:
        - ConnectModule Notifications
      x-stoplight:
        id: dwa0lj64rbvp2
  '/webhooks/{webhookId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: webhookId
        in: path
        required: true
    get:
      summary: Retrieve a single webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/default'
      operationId: get-webhook
      security:
        - Client: []
      tags:
        - ConnectModule Notifications
      description: Get a single webhook belonging to the authenticated client.
      x-stoplight:
        id: wiapv3yerf2cf
    delete:
      summary: Delete webhook
      operationId: delete-webhook
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/default'
      description: Deletes a webhook.
      tags:
        - ConnectModule Notifications
      security:
        - Client: []
      x-stoplight:
        id: ej8bljzekgs3r
    put:
      summary: Update a webhook
      operationId: put-webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/default'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      description: Updates an existing webhook. Each event type can be only subscribed once.
      security:
        - Client: []
      tags:
        - ConnectModule Notifications
      x-stoplight:
        id: d0rhisela6503
  '/certs/{id}':
    get:
      summary: Retrieve a certificate
      tags:
        - ConnectModule Notifications
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/default'
      operationId: get-notifications-cert
      description: Get a Bosch public X509 certificate to verify notification message signatures.
      x-stoplight:
        id: wqnqca4p4hig3
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Bosch public certificate ID
components:
  schemas:
    Webhook:
      title: Webhook
      type: object
      additionalProperties: false
      required:
        - id
        - url
        - eventTypes
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Webhook ID.
          readOnly: true
        url:
          type: string
          format: uri
          description: The Internet accessible URL configured to listen for incoming POST notification messages containing event information. Only HTTPS is allowed!
          example: 'https://your-service.com'
        description:
          type: string
          example: Your webhook description.
        eventTypes:
          type: array
          description: List of event types the webhooks subscribes to.
          uniqueItems: true
          items:
            type: string
            minLength: 1
            x-extensible-enum:
              - value: LOCATION_TRACKING
              - value: BIKE_STATUS
              - value: BIKE_PROFILE
              - value: BIKE_TRACEABILITY_STATUS
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the webhook was created.
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the webhook was changed.
          readOnly: true
        authentication:
          $ref: '#/components/schemas/Authentication'
      x-stoplight:
        id: zf0c9glk95748
    Authentication:
      title: Authentication
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          example: Authorization
          description: Name of header or query parameter.
          minLength: 1
        secret:
          type: string
          example: Bearer 12345
          writeOnly: true
        location:
          type: string
          description: Should authentication passed as header or query parameter.
          enum:
            - HEADER
            - QUERY
      required:
        - name
        - secret
        - location
      x-stoplight:
        id: t7csx7ph5ae7k
    WebhookTest:
      title: WebhookTest
      type: object
      description: Notification which will be sent to the provided callback URL during webhook creation.
      properties:
        type:
          type: string
          enum:
            - WEBHOOK_TEST
        createdAt:
          type: string
          format: date-time
      required:
        - type
        - createdAt
      x-stoplight:
        id: t2u303jn223yj
    BikeProfile:
      title: BikeProfile
      type: object
      description: Basic data of the bike. Includes infrequently changing information.
      required:
        - bikeId
        - oemBikeId
        - type
        - createdAt
        - driveUnit
        - remoteControl
        - batteries
      properties:
        bikeId:
          type: string
          format: uuid
          description: Bosch unique eBike ID.
        oemBikeId:
          type: string
          description: OEM unique eBike ID.
          example: ZMFPKXJ9Y6ZRSTW4
        createdAt:
          type: string
          format: date-time
          description: Timestamp when this data was collected by the Bosch Connect Module.
        type:
          type: string
          enum:
            - BIKE_PROFILE
        bikeCategory:
          type: string
          description: 'Bike category, usually set by manufacturer.'
        serviceDue:
          type: object
          description: Service due object containing either odometer value in meters or date when next service is due.
          properties:
            odometer:
              type: integer
              format: int32
              minimum: 0
              description: Odometer value in meters when next service is due.
            date:
              type: string
              format: date-time
              description: Date when next service is due.
        driveUnit:
          title: DriveUnit
          description: The installed Bosch eBike motor.
          allOf:
            - $ref: '#/components/schemas/BaseComponent'
          properties:
            availableAssistModes:
              type: array
              maxItems: 5
              minItems: 2
              description: 'Assist modes available on the bike, usually flashed by OEM or authorized dealer.'
              items:
                type: string
                maxLength: 10
        remoteControl:
          title: RemoteControl
          description: Remote Control (also known as Thumb Controller). Used to allow riders to control the eBike settings without a third-party device.
          allOf:
            - $ref: '#/components/schemas/BaseComponent'
        batteries:
          type: array
          description: Batteries of a bike.
          items:
            allOf:
              - $ref: '#/components/schemas/BaseComponent'
              - properties:
                  chargeCycles:
                    type: object
                    properties:
                      total:
                        type: number
                        format: float
                        minimum: 0
                        description: Total number of full charge cycles.
                      onBike:
                        type: number
                        format: float
                        minimum: 0
                        description: The number of full charge cycles of the battery while charging on bike.
                      offBike:
                        type: number
                        format: float
                        minimum: 0
                        description: The number of full charge cycles of the battery while charging stand-alone/off bike.
            type: object
        antiLockBrakeSystems:
          type: array
          items:
            title: AntiLockBrakeSystem
            description: Anti-lock Braking System (Commonly abbreviated as "ABS"). Stands for more riding safety while enabling controlled and stable braking even under difficult conditions.
            allOf:
              - $ref: '#/components/schemas/BaseComponent'
        connectModule:
          title: ConnectModule
          description: Bosch ConnectModule (Hardware component to send telemetry data from the eBike without relying on a smartphone for internet connection).
          allOf:
            - properties:
                id:
                  description: Unique identifier for this ConnectModule. Combination of `ProductCode_PartNumber_SerialNumber`.
                  type: string
                  example: BCM3100_EB1310000B_33943-0189-01-368-03-0000
              required:
                - id
            - $ref: '#/components/schemas/BaseComponent'
        headUnit:
          title: HeadUnit
          description: Head Unit (displays ride data on the eBike).
          allOf:
            - $ref: '#/components/schemas/BaseComponent'
      x-stoplight:
        id: 6oqsa77gxmzh1
    BikeStatus:
      title: BikeStatus
      type: object
      description: |-
        <!-- theme: info -->

        > #### Optional properties
        >
        > All optional properties in this schema are only available if the eBike is poweredOn or charging.
      required:
        - bikeId
        - oemBikeId
        - createdAt
        - type
        - connectModule
      properties:
        bikeId:
          type: string
          format: uuid
          description: Bosch unique eBike ID.
        oemBikeId:
          type: string
          description: OEM unique eBike ID.
          example: ZMFPKXJ9Y6ZRSTW4
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the data record was created on the Bosch ConnectModule.
        type:
          type: string
          enum:
            - BIKE_STATUS
        isBikeLightOn:
          type: boolean
          description: Indicates whether bike light is turned on (true) or off (false).
        battery:
          type: object
          properties:
            isChargerConnected:
              type: boolean
              description: True if the charger is currently connected to the bike.
              default: false
            isCharging:
              type: boolean
              description: True if the system is currently charging.
              default: false
            reachableRange:
              type: array
              minItems: 4
              maxItems: 4
              description: Reachable range in meters per active assist mode sorted by weakest to strongest assist mode.
              items:
                type: integer
                format: int32
                minimum: 0
            systemRemainingEnergyForRider:
              type: integer
              format: int32
              description: Remaining energy for the rider in Wh.
              minimum: 0
              example: 237
            systemStateOfCharge:
              type: integer
              format: int32
              minimum: 0
              example: 35
              maximum: 100
              description: The state of charge of the eBike system in %.
            isLightReserveLimitReached:
              type: boolean
              description: True if system state of charge is lower than defined energy reserve for bike lights.
            instances:
              type: array
              minItems: 1
              maxItems: 2
              items:
                allOf:
                  - $ref: '#/components/schemas/BaseComponent'
                  - properties:
                      stateOfCharge:
                        type: integer
                        format: int32
                        minimum: 0
                        maximum: 100
                type: object
        odometer:
          type: integer
          example: 2565925
          format: int32
          description: The total distance in meters.
        assistMode:
          type: integer
          format: int32
          minimum: 0
          maximum: 4
          description: |
            Currently selected assist mode slot (0 - 4). The respective assist mode names can be taken from the 
            BikeProfile message body.
        connectModule:
          type: object
          required:
            - id
            - batteryStatus
            - batteryVoltage
          properties:
            id:
              type: string
              example: BCM3100_EB1310000B_17918-0052-01-368-00-0000
              description: Bosch unique ConnectModule ID. Consists of `productCode` _ `partNumber` _ `serialNumber`.
            batteryStatus:
              type: string
              enum:
                - CHARGE_UNKNOWN
                - CHARGE_OK
                - NEED_CHARGE
                - CHARGE_CRITICAL
                - CHARGING
                - CHARGE_FULL
              default: CHARGING
            batteryVoltage:
              type: integer
              format: int32
              minimum: 0
              example: 3927
              description: Battery voltage of ConnectModule internal battery in mV.
      x-stoplight:
        id: 13htggzp1wtrh
    LocationTracking:
      type: object
      title: LocationTracking
      minItems: 1
      description: |-
        Periodically sent location tracking notification of an eBike, for which a movement was detected.
        Note that periodically does not mean continuously, the notification will be sent so that the BCM battery is also preserved.
      properties:
        bikeId:
          type: string
          format: uuid
          description: Bosch unique eBike ID.
        oemBikeId:
          type: string
          description: OEM unique eBike ID.
          example: ZMFPKXJ9Y6ZRSTW4
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the data record was created on the Bosch ConnectModule.
        type:
          type: string
          enum:
            - LOCATION_TRACKING
        connectModule:
          type: object
          required:
            - id
          properties:
            id:
              type: string
              description: Bosch unique ConnectModule ID. Consists of `productCode` _ `partNumber` _ `serialNumber`.
              example: BCM3100_EB1310000B_17918-0052-01-368-00-0000
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
      required:
        - bikeId
        - oemBikeId
        - createdAt
        - type
        - connectModule
      x-stoplight:
        id: c7w8u8a2n3fpd
    Location:
      title: Location
      type: object
      properties:
        latitude:
          type: number
          format: float
          example: 48.49431557026259
        longitude:
          type: number
          format: float
          example: 9.136659026316485
        altitude:
          type: number
          format: float
          description: Altitude in meters.
          minimum: 0
          example: 376
        horizontalAccuracy:
          type: number
          format: float
          description: Horizontal estimated position error in meters.
          minimum: 0
          example: 13.58
        verticalAccuracy:
          type: number
          format: float
          description: Vertical estimated position error in meters.
          minimum: 0
          example: 8.77
        detectedAt:
          type: string
          format: date-time
          description: Timestamp of when the location was detected on the Bosch ConnectModule.
        isMoving:
          type: boolean
          description: Indicates if the eBike is moving.
      required:
        - latitude
        - longitude
        - altitude
        - horizontalAccuracy
        - verticalAccuracy
        - detectedAt
        - isMoving
      x-stoplight:
        id: q2opq4fyuequ8
    BaseComponent:
      title: BaseComponent
      type: object
      required:
        - productCode
        - partNumber
        - serialNumber
        - softwareVersion
      properties:
        productCode:
          type: string
          description: Bosch product code.
        partNumber:
          type: string
          maxLength: 13
          description: Bosch component part number.
        serialNumber:
          type: string
          maxLength: 25
          description: Bosch component serial number.
        softwareVersion:
          type: string
          maxLength: 62
          description: Software version currently installed on component.
      x-stoplight:
        id: 2x5dtp69cb7cx
    BikeTraceabilityStatus:
      title: BikeTraceabilityStatus
      type: object
      description: Notification which will be sent whenever there is new traceability information of a bike for which an OEM reported dealer consent.
      required:
        - type
        - createdAt
        - bikeTraceabilities
      properties:
        type:
          type: string
          enum:
            - BIKE_TRACEABILITY_STATUS
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the message was created.
        bikeTraceabilities:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - bikeId
              - driveUnit
              - updatedAt
            properties:
              bikeId:
                type: string
                format: uuid
                description: The ID of the bike.
                example: 8772ec0f-953b-492c-83f5-2191ab325af6
              driveUnit:
                type: object
                description: Drive Unit as unique identifier.
                required:
                  - serialNumber
                  - partNumber
                properties:
                  serialNumber:
                    type: string
                    description: The serial number of the drive unit.
                    example: 27331-2298-43-300-00-0000
                    minLength: 25
                    maxLength: 25
                  partNumber:
                    type: string
                    description: The part number of the drive unit.
                    example: EB11100001
                    minLength: 10
                    maxLength: 13
              updatedAt:
                type: string
                format: date-time
                description: The timestamp when the smart system touchpoints of this bike were changed latest.
                example: '2024-09-01T14:15:22Z'
              dealer:
                type: object
                properties:
                  firstDiagnosticToolUsage:
                    type: object
                    properties:
                      usedAt:
                        type: string
                        format: date-time
                        description: The timestamp when the diagnostic tool was used for the first time at a dealer.
                        example: '2024-08-22T16:35:55Z'
              rider:
                type: object
                properties:
                  firstFlowAppUsage:
                    type: object
                    properties:
                      usedAt:
                        type: string
                        format: date-time
                        description: The timestamp when the the Flow App was paired for the first time with the bike.
                        example: '2024-08-31T14:43:27Z'
                  firstFlowAppActivity:
                    type: object
                    properties:
                      recordedAt:
                        type: string
                        format: date-time
                        description: The timestamp when the the Flow App recorded the rider's first activity.
                        example: '2024-09-02T08:02:10Z'
                      postCode:
                        type: string
                        example: '71234'
                        description: The postcode of the location in which the rider's first activity was started.
                        maxLength: 10
                      countryCode:
                        type: string
                        example: DE
                        description: The two letter country code of the location in which the rider's first activity was started. In ISO 3166-1 alpha-2 format.
                        minLength: 2
                        maxLength: 2
      x-stoplight:
        id: nwwiaz4kevbis
    Problem:
      type: object
      title: Problem
      required:
        - type
        - detail
        - requestId
      properties:
        type:
          type: string
          format: uri-reference
          description: |
            A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          default: 'about:blank'
          example: /some/uri-reference
        title:
          type: string
          description: |
            A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
        instance:
          type: string
          format: uri-reference
          description: |
            A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
        requestId:
          type: string
          description: ID for this request.
          example: 075be661d3a4460b98dee5d66849dd5e
      x-stoplight:
        id: 271d26gxp1cfi
  securitySchemes:
    Client:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://p9.authz.bosch.com/auth/realms/obc/protocol/openid-connect/token'
          refreshUrl: 'https://p9.authz.bosch.com/auth/realms/obc/protocol/openid-connect/token'
          scopes:
            'notification:webhooks:write': 'Enables webhook create, read, update and delete operations.'
      description: Bosch Identity & Access Management
  responses:
    '400':
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    '401':
      description: Unauthorized
      content:
        text/plain:
          schema:
            type: string
          examples:
            access-token-expired:
              value: JWT is expired
            access-token-validation-failed:
              value: JWT verification fails
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    '403':
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    '404':
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    '409':
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    '500':
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    '503':
      description: Service Unavailable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    default:
      description: Example response
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
